#barrasuperior {
    background-color: black;
    color: white;
    text-align: center;
    font-style: oblique;
}

#Loginindex {
 float: right;
}

#topHeader {
    background-color: white;
    color: black;
    text-align: center;
    font-family: sans-serif;
    margin-top: 0px;
    margin-bottom: -10px;
}

#barraNavegacion {
    font-family: sans-serif;
    font-size: x-large;
    justify-content: center;
    border-style:solid;
    border-radius: 20px;
}

.menuEnlace {
             
}

#categorias {
    margin-top: 10px;
    margin-bottom: 10px;
}

#categorias img {
    z-index: 0;
    position: absolute;
}

#categorias h2 {
    z-index: 100;
    display: inline-block;
    position: absolute;
    width: 100%;
    text-transform: uppercase;
    color: #fff;
    font-size: 30px;
    text-shadow: 0 0 15px black;
    font-family: sans-serif;
    margin-top: 230px;
    margin-left: 100px;
}