#botones button {
    display: inline-block;
    padding: 0.5em 3em;
    border: 0.16em solid #FFFFFF;
    margin: 0 0.3em 0.3em 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
    color: #FFFFFF;
    text-align: center;
    transition: all 0.15s;
}
#botones button:hover {
    color: #DDDDDD;
    border-color: #DDDDDD;
}

@media all and (max-width:30em) {
      #botones button {
        display: block;
        margin: 0.4em auto;
    }
}

#main > .posts {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: stretch;
    text-align: center;
    width: 100%;
    padding: 0;
    font-size: 25px;
}

#main > .posts > * {
    flex-shrink: 1;
    -webkit-flex-grow: 0;
    flex-grow: 0;
}

#main > .posts > * {
    width: 50%;
}

#main > .posts > * {
    padding: 4rem;
    width: 50%;
}

#main > .posts > article {
    border-color: #eeeeee;
    border-left-width: 2px;
    border-style: solid;
    border-top-width: 2px;
    text-align: center;
}

#main > .posts > article > :last-child {
    margin-bottom: 0;
}

#main > .posts > article:nth-child(2n - 1) {
    border-left-width: 0;
}

#main > .posts > article:nth-child(-n + 2) {
    border-top-width: 0;
}